{% load fontawesome %}
{% load static %}

<div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div><a style="font-size: 26px; color:grey" href="#" class="glyphicon glyphicon-triangle-top"></a></div>
            <div align=center style="font-size: 16px; color:grey" ><h4>12</h4></div>
            <div><a style="font-size: 26px; color:grey" href="#" class="glyphicon glyphicon-triangle-bottom"></a></div>
        </div>

        <div class="col-xs-9 col-sm-9">
            <img src="{% static 'ava.jpg' %}" width="85" height="85">
        </div>
    </div>

    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <h1>{{ question.theme }}</h1>
        <p>
            На протяжении изучения нашего курса мы будем делать сервис "вопросов-ответов". ТЗ проекта можно обнаружить тут. Проект разделен на 7 ДЗ. За каждое ДЗ ставятся баллы, по сумме этих баллов ставится итоговая оценка за курс.
ДЗ принимаются в конце семинаров или по почте. Если Вы решите сдавать ДЗ по почте, то его необходимо отправлять своему семинаристу (распределение по семинаристам будет позже) с пометкой "[TP] Web". В письме должна быть ссылка на репозиторий (например github) и список того что было сделано/исправлено в ДЗ.
        </p>
        <p class="row">
            <div class="col-md-8">
                <i class="glyphicon glyphicon-user"></i> by <a href="">GayOrgii</a>
                | <i class="glyphicon glyphicon-calendar"></i> 12.11.2017
            </div>
            <div class="col-md-4" align="right">
                <i class="glyphicon glyphicon-tags"></i>
                <a href="">Тег1</a>
                <a href="">Тег2</a>
                <a href="">Тег1</a>
                <a href="">Тег2</a>
            </div>
        </p>
    </div>
</div>
<hr>