{% extends 'base.html' %}

{% block content %}
    {% for question in questions %}

        {% include 'ask_app/partials/_question.html' %}

    {% endfor %}

    <div class="row">

    <ul class="pagination justify-content-center">
        {% if questions.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ questions.previous_page_number }}">< сюда</a></li>
        {% endif %}
            <!--Page {{ questions.number }} of {{ questions.paginator.num_pages }}.-->
            <li class="page-item"><a class="page-link" href="#">{{ questions.number }}</a></li>
        {% if questions.has_next %}
            <!--<a href="?page={{ questions.next_page_number }}">next</a>-->
            <li class="page-item"><a class="page-link" href="?page={{ questions.next_page_number }}">туда ></a></li>
        {% endif %}
    </ul>

    </div>

    <!--<ul class="pagination justify-content-center">-->

        <!--<li class="page-item"><a class="page-link" href="#">Туда</a></li>-->

        <!--<li class="page-item active"><a class="page-link" href="#">1</a></li>-->

        <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->

        <!--<li class="page-item"><a class="page-link" href="#">...</a></li>-->

        <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->

        <!--<li class="page-item"><a class="page-link" href="#">Сюда</a></li>-->

    <!--</ul>-->
{% endblock %}